* {
	background-repeat: no-repeat;
	box-sizing: border-box;
	color: #fff;
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.3;
}

*:hover {
	transition: opacity .5s ease-in-out;
}


body {
	background-color: #eee;
	background-image: url('../assets/forest-bg.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 100px;
}

nav {
	background-image: url('../assets/merry-melodies-bg.svg');
	background-position: center center;
	background-size: cover;
	box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.29);

}

article {
	margin: 5px;
}

h1 {
	color: #fff;
	font-family: 'Alegreya SC', serif;
	font-size: 40px;
	font-weight: 700;
	margin: 15px 5px;
}

.h1-span {
	font-family: 'Alegreya SC', serif;
	opacity: .5;
}

h2 {
	font-size: 20px;
	font-weight: 800;
	margin: 0;
}

h3 {
	font-size: 13px;
	margin: 0;
	opacity: .5;
}

h4 {
	color: #aaa;
	font-size: 26px;
	margin: 10px 8px 3px;
}

h5 {
	color: white;
	cursor: pointer;
	font-family: 'Alegreya SC', serif;
	font-size: 23px;
	margin: 5px 6px;
	opacity: .6;
	transition: opacity .5s ease-in-out;
}

h5:hover {
	opacity: 1;
}

h6 {
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	margin: 10px;
	opacity: .6;
	transition: opacity .5s ease-in-out;
}

h6:hover {
	opacity: 1;
}

p {
	margin-bottom: 10px;
	margin-top: 1px;
	opacity: .5;
}

.card-font {
	font-family: 'Alegreya SC', serif;
	font-size: 30px;
	font-weight: 700;
	margin-top: -9px;
}

/******  nav styles  ******/

nav {
	background-color: #333;
	padding: 5px 16px 0;
}

.nav-top-row {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.nav-top-row img {
	opacity: .6;
	width: 12px;
}

#dropdown-image {
	width: 14px;
}

.nav-bottom-row {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.nav-bottom-row img {
	width: 17px;
}

.bottom-row-left,
.bottom-row-center,
.bottom-row-right {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 27px;
}

.bottom-row-left {
	margin-left: 0;
}

.bottom-row-home {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: auto;
}

.bottom-row-home img {
	width: 33px;
}

.line {
	border-top: 10px solid #ddd;
	position: relative;
	top: 21px;
	width: 1132px;

}

/******  main/section styles  ******/

.all-cards {
	box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.19);
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: auto;
	width: 1240px;
}

.go-arrow-icons {
	cursor: pointer;
	opacity: .5;
	transition: opacity .5s ease-in-out;
	width: 52px;
}

.go-arrow-icons:hover {
	opacity: .8;
}

.go-arrow-icons-dark {
	cursor: pointer;
	opacity: .6;
	transition: opacity .5s ease-in-out;
	width: 52px;
}

.go-arrow-icons-dark:hover {
	opacity: 1;
}

#card-1 .card-top-section {
	background-image: url('../assets/Daffy_Duck.svg');
}

#card-2 .card-top-section {
	background-image: url('../assets/Marvin_the_Martian.svg');
}

#card-3 .card-top-section {
	background-image: url('../assets/Wile_E_Coyote.svg');
}

#card-4 .card-top-section {
	background-image: url('../assets/Yosemite_Sam.svg');
}

#card-5 .card-top-section {
	background-image: url('../assets/taz.svg');
}

#card-6 .card-top-section {
	background-image: url('../assets/Sylvester_the_Cat.svg');
}

#card-7 .card-top-section {
	background-image: url('../assets/foghorn_leghorn.png');
}

#card-8 .card-top-section {
	background-color: #43B1FF;
	background-image: url('../assets/elmer_fudd2.png');
}

#card-4 .counter, #card-7 .counter, .playlist-green {
	color: #CDF0BC;
	opacity: 1;
}

#card-2 .counter, #card-8 .counter, .playlist-blue {
	color: #C7E8FF;
	opacity: 1;
}

#card-1 .counter, .playlist-red {
	color: #FFD8D2;
	opacity: 1;
}

#card-5 .counter, .playlist-orange {
	color: #FEDFD0;
	opacity: 1;
}

#card-6 .counter, .playlist-purple {
	color: #E0D3EF;
	opacity: 1;
}

#card-3 .counter, .playlist-yellow {
	color: #FFFCC9;
	opacity: 1;
}

.card-link-box {
	box-shadow: inset 0 0 5px #333;
	height: 55px;
	margin: 2px 4px;
	padding: 5px 7px 13px;
}

.green-link-box {
	background-color: #CEF1BD;
}

.blue-link-box {
	background-color: #CEEAFF;
}

.orange-link-box {
	background-color: #FED9C8;
}

.purple-link-box {
	background-color: #E0D3EF;
}

.yellow-link-box {
	background-color: #FFFA98;
}

.red-link-box {
	background-color: #FFD8D2;
}

.card-link-box a {
	color: #000;
	cursor: pointer;
	text-decoration: none;
	word-wrap: break-word;
}

.card-top-section {
	align-items: flex-start;
	background-image: url('../assets/Soda Butte - Yellowstone.png');
	background-size: contain;
	display: flex;
	height: 116px;
	justify-content: space-between;
	padding: 16px 23px 10px 14px;
	width: 300px;
}

.counter {
	font-size: 32px;
	margin: 0;
}

.top-counter {
	font-size: 32px;
	margin: 0;
	opacity: .8;
}

.top-counter-bright {
	opacity: 1;
}

.card-top-right {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 0;
}

.card-top-left {
	margin-top: 0;
}

.card-bottom-section {
	background-color: #555;
	border-top: 7px solid #777;
	padding: 14px 15px 10px;
	width: 300px;
}

.card-bottom-section h3 {
	font-weight: 500;
	margin: 12px 0 1px;
}

/******  MEDIA QUERIES  ******/

@media screen and (max-width: 1259px) {
	section {
		width: 930px;
	}
	.line {
		width: 825px;
	}
}

@media screen and (max-width: 945px) {
	section {
		width: 620px;
	}
	.line {
		width: 514px;
	}
	.bottom-row-center,
	.bottom-row-left,
	.bottom-row-right {
		margin-left: 20px;
		margin-right: 20px;
	}

}

@media screen and (max-width: 768px) {
	h1 {
		margin: 0 5px 6px;
	}

	.nav-bottom-row {
		display: block;
		margin: auto;
		width: 212px;
	}

	.bottom-row-center,
	.bottom-row-left,
	.bottom-row-right {
		/*display: flex;*/
		justify-content: flex-start;
		margin: 0;
		margin-right: auto;
		
	}

	.bottom-row-home {
		justify-content: center;
	}

	.bottom-row-home img {
		margin-bottom: 7px;
	}
}

@media screen and (max-width: 637px) {
	section {
		width: 310px;
	}
	.line {
		width: 204px;
	}
}






